.navbar-custom {
  background-color: #600080;
}

/*.nav-bot-pad {
  margin-bottom: 1.5%
}*/

.card-width {
  width: 18rem;
}

.wordLength {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
